Setup
Doc
Примеры
ТЗ
/*.dll
packages
.vs
/AlgoritmPrizm/bin/Debug/*.exe
/AlgoritmPrizm/bin/Debug/*.dll
/AlgoritmPrizm/bin/Release/*.exe
/AlgoritmPrizm/bin/Release/*.dll
obj
/AlgoritmPrizm/FLic.cs
/AlgoritmPrizm/FLic.Designer.cs
/AlgoritmPrizm/FLic.resx
/AlgoritmPrizm/Com/Lic.cs
LicLib
AlgoritmPrizm.xml
Log.txt
AlgoritmPrizm/bin/Debug/Log.txt
