<form name="cashInOutForm">
    <div class="modalouter">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{ modalTitle }} наличных</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="amount">Сумма:</label>
                            <input tabindex="1" type="text" id="amount" class="form-control" ng-model="criteria.amount" pattern="[0-9]+(\.[0-9]{1,2})?" required autofocus>
                        </div>
                        {{ infoMessage }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" tabindex="3" class="btn btn btn-success" ng-click="save()" ng-disabled="!manipulationAvailable || !cashInOutForm.$valid" ng-bind="submitTitle || 'Ок'">{{ submitTitle }}</button>
                        <button type="button" tabindex="4" class="btn btn btn-default" ng-click="cancel()">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>