<form name="legalForm">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Продажа юридическому лицу</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inn">ИНН</label>
                            <input tabindex="1" type="text" id="inn" class="form-control" ng-model="criteria.inn" pattern="[0-9]{10}" autofocus required>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label ng-bind="message">{{message}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" tabindex="3" class="btn btn-lg btn-success" ng-click="save()" ng-disabled="!legalAvailable && !legalForm.$valid" ng-bind="caption || 'Enter'">{{caption}}</button>
                        <button type="button" tabindex="4" class="btn btn-lg btn-default" ng-click="cancel()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>